test.ipynb
.DS_STORE

# Visual Studio and Visual Studio Code
bin/
obj/
.vs/
.vscode/

# build, distribute, and bins
build/
build_*/
.build_debug/*
.build_release/*
dist/
*.egg-info

# python
__pycache__/
*.py[cod]
*$py.class

# node
node_modules/
packages/
package-lock.json

# Rust build targets
target/
Cargo.lock

# Build outputs
bin/
obj/
/src/cs/samples/ConsoleClient/test.http
logs/

# Local NuGet packages built from source
local-packages/
